


 <div class="fullpage" id="fullpage">
        
          
        <section class="section s1">
            <h1>Hello, Je suis Hugo</h1>
         <nav class="menu">
             <div class="hamburger">
                 <div class="line"></div>
                 <div class="line"></div>
                 <div class="line"></div>
             </div>
             <div class="nav-links">
                 <ul><a href="#">À propos</a></ul>
                 <ul><a href="#">Projets</a></ul>
                 <ul><a href="#">CV</a></ul>
                 <ul><a href="#">Contact</a></ul>
             </div>
         </nav>
        </section>
        <section class="section s2">
            <h1>À propos</h1>
            <div class="description">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat placeat blanditiis quasi enim soluta earum, praesentium officiis rerum deserunt fuga, porro odio, animi sint hic eius est dolorum neque ex!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat placeat blanditiis quasi enim soluta earum, praesentium officiis rerum deserunt fuga, porro odio, animi sint hic eius est dolorum neque ex!</p>
            </div>
            <%= image_tag 'Hugo_V1', class: 'hugoimg h1' %>
            <%= image_tag 'Hugo_V2', class: 'hugoimg h2' %>
            <%= image_tag 'Hugo_V3', class: 'hugoimg h3' %>
        </section>
        <section class="section s3">
         
            <h1>Projet</h1>
            
        </section>
        <section class="section s4">
           
            <h1>CV</h1>
           
        </section>
        <section class="section s5">
            <h1>Contact</h1>
        </section>
    </div>
  


