


 <div class="wrapper context" id="wrapper">
            
        <section class="section s1" data-anchor="home">
            <h1>Hello, Je suis Hugo</h1>
         
         <%# <div id="menu"> 
             <div class="hamburger">
                 <div class="line"></div>
                 <div class="line"></div>
                 <div class="line"></div>
             </div>

             <div class="menu-inner">
                 <ul><a href="#">À propos</a></ul>
                 <ul><a href="#">Projets</a></ul>
                 <ul><a href="#">CV</a></ul>
                 <ul><a href="#">Contact</a></ul>
             </div>
        </div> %>

        <nav class="menu">
            <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open"/>
            <label class="menu-open-button" for="menu-open">
                <span class="hamburger hamburger-1"></span>
                <span class="hamburger hamburger-2"></span>
                <span class="hamburger hamburger-3"></span>
            </label>
            
            <a href="#about" class="menu-item"> <i class="fa fa-hand-spock"></i> </a>
            <a href="#project" class="menu-item"> <i class="fa fa-rocket"></i></a>
            <a href="#cv" class="menu-item"> <i class="fas fa-graduation-cap"></i> </a>
            <a href="#contact" class="menu-item"> <i class="fa fa-envelope"></i> </a>
  
  
        </nav>


<!-- filters -->
<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
      <filter id="shadowed-goo">
          
          <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
          <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
          <feGaussianBlur in="goo" stdDeviation="3" result="shadow" />
          <feColorMatrix in="shadow" mode="matrix" values="0 0 0 0 0  0 0 0 0 0  0 0 0 0 0  0 0 0 1 -0.2" result="shadow" />
          <feOffset in="shadow" dx="1" dy="1" result="shadow" />
          <feComposite in2="shadow" in="goo" result="goo" />
          <feComposite in2="goo" in="SourceGraphic" result="mix" />
      </filter>
      <filter id="goo">
          <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
          <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
          <feComposite in2="goo" in="SourceGraphic" result="mix" />
      </filter>
    </defs>
</svg>

        </section>

        <section class="section s2" data-anchor="about">
            <h1>À propos</h1>
            <div class="description">
                <p>Ancien chef de produit digital pour de grand média je suis en reconversion à 27 ans pour devenir developpeur Web ou bien product owner. </p>
                <p>Je vis actuellement à Paris et serait très heureux d'intégrer une équipe sur place ou bien en remote</p>
            </div>
            <%= image_tag 'Hugo_V1', class: 'hugoimg h1' %>
            <%= image_tag 'Hugo_V2', class: 'hugoimg h2' %>
            <%= image_tag 'Hugo_V3', class: 'hugoimg h3' %>
        </section>

<section class="section s3" data-anchor="projet">
    <h1>Projets</h1>

    <div class="blog-slider">
    <div class="blog-slider__wrp swiper-wrapper">

        <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
            <img src="https://source.unsplash.com/random" alt="">
        </div>
        <div class="blog-slider__content">
            <span class="blog-slider__code">26 December 2019</span>
            <div class="blog-slider__title">Lorem Ipsum Dolor</div>
            <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi? </div>
            <a href="#" class="blog-slider__button"><i class="fas fa-angle-double-right"></i></a>
        </div>
        </div>

        <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
            <img src="https://source.unsplash.com/random" alt="">
        </div>
        <div class="blog-slider__content">
            <span class="blog-slider__code">26 December 2019</span>
            <div class="blog-slider__title">Lorem Ipsum Dolor2</div>
            <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
            <a href="#" class="blog-slider__button"><i class="fas fa-angle-double-right"></i></a>
        </div>
        </div>
        
        <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
            <img src="https://source.unsplash.com/random" alt="">
        </div>
        <div class="blog-slider__content">
            <span class="blog-slider__code">26 December 2019</span>
            <div class="blog-slider__title">Lorem Ipsum Dolor</div>
            <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
            <a href="#" class="blog-slider__button"><i class="fas fa-angle-double-right"></i></a>
        </div>
        </div>

          <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
            <img src="https://source.unsplash.com/random" alt="">
        </div>
        <div class="blog-slider__content">
            <span class="blog-slider__code">26 December 2019</span>
            <div class="blog-slider__title">Lorem Ipsum Dolor</div>
            <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
            <a href="#" class="blog-slider__button"><i class="fas fa-angle-double-right"></i></a>
        </div>
        </div>
        
    </div>
    <div class="blog-slider__pagination"></div>
    </div>
</section>

        <section class="section s4" data-anchor="cv">
            <h1>CV</h1> 

            <div class="slide" data-anchor="formation"> Slide 1 
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temp</p>
            <h2>Formations</h2>
            <ul class="progressbar">
            <li class="active">IUT</li>
            <li class="active">KEDGE BUSINESS SCHOOL BORDEAUX</li>
            <li>LE WAGON</li>
            </ul>
             <div class="slide_button">
                <a href="#exp">Button Test</a>
            </div>
            </div>

            <div class="slide" data-anchor="exp"> Slide 2 
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temp</p>
                <h2>Expériences</h2>
                    <ul class="progressbar">
                    <li class="active entreprise">PIERRE & VACANCES
                        <div id="detail-description">
                            <p class="exp-description">Création d'activations Marketing récurrentes ou ponctuelles (Euro 2016, Pâques)
    d'événements ou d’actions</p>
                            <p class="exp-description">Vérification et mise en avant du contenu produit sur différents canaux de   communication : Marketing Direct, Web, Social Media, Call Center…</p>
                            <p class="exp-description">Gestion de projets transverses, mise en place de partenariats, </p>
                            <p class="exp-description">Relation agences de communication</p>
                            <p class="exp-description">Analyse benchmark (Google Analytics / Facebook Insight) </p>
                        </div>
                    </li>
                    
                    
                    
                    <li class="active entreprise">FRANCE TÉLÉVISION
                    <div id="detail-description">
                        <p class="exp-description">Élaboration d'offres commerciales</p>
                        <p class="exp-description">Soutien marketing à l'ensemble de l'activité commerciale.</p>
                        <p class="exp-description">Veille concurrentielle du marché publicitaire.</p>
                        <p class="exp-description">Analyse des données d'audience du marché numérique.</p>
                        <p class="exp-description">Mise en place d'outils d'aide à la vente</p>
                    </div>
                    </li>
                    <li class="entreprise">TF1 PUBLICITÉ
                     <div id="detail-description">
                        <p class="exp-description">En charge du marketing Produit digital de la régie publicitaire du site MYTF1 ainsi que ses applications mobile/tablette/IPTV</p>
                        <p class="exp-description">Création des offres publicitaires en coordination avec les équipes techniques et éditoriales (définition du dispositif et élaboration des tarifs)</p>
                        <p class="exp-description">Gestion de la relation éditeurs (réalisation des argumentaires, suivi de leurs audiences, analyse du chiffre d’affaires) </p>
                        <p class="exp-description">Développement des offres de ciblage / data</p>
                        <p class="exp-description">Veille concurrentielle du marché publicitaire / Analyse des données d'audience du marché numérique.</p>
                    </div>
                    </li>
                </ul>
                <div class="slide_button">
                    <a href="#formation">Button Test</a>
                </div>
            </div>
           
        </section>

        <section class="section s5" data-anchor="contact">
            <h1>Contact</h1>
        </section>
    </div>
  


